{{- if and (eq .chezmoi.os "darwin") (has "dev" .profiles) -}}
#!/usr/bin/env bash
set -Eeuo pipefail
mise install
RUSTUP="$(brew --prefix rustup 2>/dev/null)/bin/rustup"
[[ -x "$RUSTUP" ]] && "$RUSTUP" default stable
{{- end }}
